<fieldset data-hook="purchase-order">
  <legend align="center"><%= t(:purchase_order) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:order_number) %>:</dt>
        <dd><%= payment.source.number %></dd>
        <% if payment.source.attachment.present? %>
          <dt><%= Spree.t(:order_pdf) %>:</dt>
          <dd><%= link_to(payment.source.attachment.original_filename, payment.source.attachment.url) %></dd>
        <% end %>
        <dt><%= Spree.t(:invoice_date) %>:</dt>
        <dd><%= payment.source.invoice_date %></dd>
      </dl>
    </div>

    <div class="omega six columns">
      <dl>
        <dt><%= Spree.t(:contact_name) %>:</dt>
        <dd><%= payment.source.contact_name %></dd>
        <dt><%= Spree.t(:contact_email) %>:</dt>
        <dd><%= mail_to(payment.source.contact_email) %></dd>
      </dl>
    </div>
  </div>
</fieldset>

<p><%#= payment.source.inspect %></p>